$defaultSize: 12px; 
$font: 'DM Sans', sans-serif;
$logoFont: 'Berkshire Swash', cursive;
$defaultTextColor: #313131;


* {
    font-size: $defaultSize;
    font-family: $font;
    color: $defaultTextColor;
}

h6 {
    font-size: 1.5rem;
}

h5 {
    font-size: 2rem;
}

h4 {
    font-size: 3rem;
}

h3 {
    font-size: 3.5rem;
}

h2 {
    font-size: 5rem;
}

h1 {
    font-size: 6rem;
}

a {
    text-decoration: none;
}



input {
    border: 0;
    border-bottom: solid 1px;
    padding: 1vh 2vw;
}

#logo {
    font-family: $logoFont;
    font-size: 2.5rem;
    width: fit-content;
}
