$defaultSize: 14px; 
$font: 'DM Sans', sans-serif;
$logoFont: 'Berkshire Swash', cursive;
$defaultTextColor: #313131;
$pinkHighlight: #AB3E62;
$labelColor: #4D4D4D;
$errorColor: #de0000;


* {
    font-size: $defaultSize;
    font-family: $font;
    color: $defaultTextColor;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h6 {
    font-size: 1.3rem;
}

h5 {
    font-size: 1.8rem;
}

h4 {
    font-size: 2.5rem;
}

h3 {
    font-size: 3rem;
}

h2 {
    font-size: 4rem;
}

h1 {
    font-size: 5rem;
}

a {
    text-decoration: none;
    font-size: 1rem;
}

input {
    border: transparent;
    border-bottom: solid 2px;
    padding: 1vh 0;
    height: 2%;
    font-size: 1.5rem;
}

input:focus {
    outline-style: dashed;
    outline-width: 0.2;
    outline-color: white;
    border-bottom: solid 2px $pinkHighlight;
}

#logo {
    font-family: $logoFont;
    font-size: 2rem;
    width: fit-content;
    position: absolute;
    top: 2vh;
    left: 5vw;
}

button {
    display: block;
    padding: 0.5vw;
    border: solid 0.7px $pinkHighlight;
    background-color: transparent;
    color: $pinkHighlight;
    margin: 1vh 0;
    font-size: 1.5rem;
    transition: 0.3s;
}

// Need to check the hover property
.regular-button {
    border-radius: 26px;
    -webkit-border-radius: 26px;
    -moz-border-radius: 26px;
    -ms-border-radius: 26px;
    -o-border-radius: 26px;
}

// Have to change this the spread does not look right
button:hover {
    cursor: pointer;
    outline: 0;
    background: #AB3E62;
    color: white;
}

.form-input-container {
    display: flex;
    flex-direction: column;
    margin: 2.5vh 0;
}

.form-input-container > a {
    color: #A6A6A6;
    margin-top: 1vh;
    align-self: flex-end;
}

.form-input-container > a:hover {
    color: $labelColor;
}

.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    align-self: center;
}

.left-login-container {
    display: flex;
    height: 100vh;
    justify-content: center;
    width: 50%;
    position: relative;
}

.login-page-picture {
    display: block;
    max-width: 100%;
}

.login-picture-container {
    width: 50%;
    height: 100vh;
    overflow: hidden;
}

.form-header {
    text-align: center;
}

.login-page {
    display: flex;
    justify-content: space-between;
}

.login-form {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 3vh 0;
}

.form-inputs {
    display: flex;
    flex-direction: column;
    margin-bottom: 10vh;
}

.form-inputs, .register {
    margin-bottom: 5vh;
}

.register-call-to-action {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.register-call-to-action a {
    text-decoration: underline $pinkHighlight;
    color: $pinkHighlight;
}

label {
    font-size: 1.3rem;
    color: $labelColor;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    height: 7vh;
    bottom: 0;
    width: 100%;
    padding: 1vh 5vw;
}

.social-link {
    max-width: 100%;
    max-height: 100%;
    font-size: 2.2rem;
    margin: 0 1vw;
    color: $labelColor;
}

.register-name-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.register-name-container * input {
    height: auto;
}

.no-opacity {
    opacity: 0;
}

.notification-message-register {
    padding-top: 4vh;
}

.error-message {
    color: $errorColor;
}

.success-message {
    color: green;    
}

.back-button {
    border: none;
    width: fit-content;
    position: absolute;
    top: 0;
    left: 0;
    margin: auto;
}

.header-form-container {
    position: relative;
}


.navigation-container {
    display: flex;
    justify-content: center;
    padding: 2vh 0;
    position: relative;
}

.navigation-button {
    position: absolute;
    right: 5vw;
    margin: 0;
    min-width: 5%;
    max-width: 15%;
    overflow-wrap: break-word;
}

.navigation-links-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 1vh;
}

.navigation-link {
    margin: 0 2%;
    font-size: 1.5rem;
}

.navigation-link:hover {
    border-bottom: solid #313131 1px;
}

.default-padding{
    margin: 0 10vw;
}

.recipe-dashboard-card {
    width: 14vw;
    height: 14vw;
    background-color: lightgrey;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.recipe-dashboard-card > * {
    margin: 1% 4%;
}

.card-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


